/config_local.py
/data
/build
/.project
/.pydevproject
/apache/apache.conf
/apache/tilecache.wsgi
/htdocs/OpenLayers-2.10
/htdocs/config.js
/tilecache/tilecache.cfg

/apache/cgi-bin/mapserv

/mapnik*/inc/datasource-settings.xml.inc
/mapnik*/inc/fontset-settings.xml.inc
/mapnik*/inc/settings.xml.inc

/mapserver-utils/data/*.shp
/mapserver-utils/data/*.shx
/mapserver-utils/data/*.index
/mapserver-utils/data/*.tgz
/mapserver-utils/data/*.zip
/mapserver-utils/data/*.bz2
/mapserver-utils/data/*.dbf
/mapserver-utils/data/*.prj
/mapserver-utils/data/*.sbn
/mapserver-utils/data/*.sbx
/mapserver-utils/data/*.xml
/mapserver-utils/data/Readme.txt

/mapserver-utils/postprocess.sql
/mapserver-utils/osm-mapserver.map
/mapserver-utils/dbconnection
/mapserver-utils/osm.png
